@charset "UTF-8";

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0% 10%;
}
.container-contato {
  width: 100%;
  min-height: 75%;
  display: block;
}
.artigo-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  /* height: 100%; */
  height: 600px;
  border-radius: 16px;
  padding: 20px 40px;
  margin: auto;
  background-color: #9fc3de;
  /* background-image: linear-gradient(to top, #82b4ff, #87cefacc); */
}

.container-contato h1,
.container-contato h2 {
  font-size: 3rem;
  color: var(--cor01);
  margin-bottom: 2rem;
  text-align: center;
}

.form-contato {
  width: 100%;
  max-width: 500px;
  font-size: 20px;
}

.form-contato label,
.form-contato input,
/* .form-contato textarea, */
.form-contato button {
  width: 100%;
  display: block;
}

.form-contato label {
  color: var(--cor01);
  line-height: 1;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-contato input
/*, .form-contato textarea */ {
  font: inherit;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
}
/* .form-contato textarea {
  height: 200px;
  resize: none;
} */
#arquivo{
  padding: 0px;
  border-radius: 0px;
}
.form-contato button {
  display: block;
  padding: 1rem;
  background-color: #4343e4;
  color: var(--cor02);
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 700px) {
  .container-contato h1 {
    font-size: 2rem;
  }
}
