main {
    padding: 20px;
}

.titulo-edicao {
    font-family: var(--fonte_titulo);
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    transition: 1.3s;
    padding: 0px 0px 15px 0px;
    color: var(--cor01);
}

.container-edicao {
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 90vh;
    width: 100%;
    color: var(--cor01);
}

.container-publicacoes {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 30px;
}

.publicacao {
    height: 100%;
    min-width: 270px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    padding: 12px;
}

.dark .publicacao {
    border: 1px solid #c4c4cc;
    border-radius: 4px;
}

.publicacao .principal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.publicacao .principal img {
    width: 100%;
    border-radius: 4px;
}

.publicacao .titulo-publicacao h1 {
    position: relative;
    font-family: var(--fonte_titulo);
    font-size: 20px;
    letter-spacing: 1px;
}

.publicacao .titulo-publicacao h1:before {
    content: "Romance";
    position: absolute;
    top: -45px;
    left: 25px;
    width: 85px;
    background-color: var(--azul05);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 2px;
    padding-left: 10px;
    font-weight: 500;
    color: white;
    font-size: 14px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 8px;
}

.publicacao .resumo-edicao {
    text-indent: 35px;
    text-align: justify;
    line-height: 20px;
}

.btn-vejaMais a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #121214;
    color: white;
    width: 80px;
    padding: 4px;
    transition: .5s;
    font-family: var(--fonte_titulo);
    border-radius: 4px;
    letter-spacing: 1px;
}
.dark .btn-vejaMais a{
    border: 1px solid #c4c4cc;
}

.btn-vejaMais a:hover {
    transform: scale(.95);
}


@media (max-width: 1100px) {
    .container-publicacoes {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .container-publicacoes {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .titulo-edicao {
        font-size: 48px;
    }

    main {
        padding: 5px;
    }

    .container-publicacoes {
        padding: 0;
    }
}