@charset "UTF-8";

main{
  background-color: #ebebeb;
}
.container-producoes {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 90vh;
  border-radius: 5px;
  background-color: white;
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 0 100px;
}
.artigo-producoes {
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-bottom: 300px; */
  width: 100%;
  align-items: center;
}
.text{
  text-align: justify;
  text-indent: 50px;
  padding: 30px;
  flex-direction: column;
}
.text h2, p{
  font-family: "Times New Roman", Times, serif;
}
.text h2{
  font-size: 50px;
  padding: 15px;
  text-align: left;
  font-family: var(--fonte_2);
  font-weight: 600;
}
.text p{
  font-size: 23px;
  text-align: justify;
  text-indent: 40px;
  margin-top: 5px;
  line-height: 30px;
}