@charset "UTF-8";

main{
  background-color: white;
  padding: 20px 10vw;
}
.edicoes{
  font-family: var(--fonte_titulo);
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  transition: 1.3s;
  padding: 0px 0px 15px 0px;
}
.container-producoes {
  border: 1px solid rgb(173, 173, 173);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 90vh;
  border-radius: 5px;
  background-color: white;
  /* max-width: 900px; */
  width: 100%;
  /* margin: auto; */
  /* padding: 0 100px; */
}
.artigo-producoes {
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-bottom: 300px; */
  width: 100%;
  /* align-items: center; */
}
.edicao{
  height: 100%;
  width: 100%;
  min-height: 600px;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .15)
}
.titulo-edicao{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.titulo-edicao h2{
  font-size: 32px;
}
.titulo-edicao h3{
  font-size: 16px;
}
.conteudo-edicao{
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.image-edicao, .text-edicao{
  /* width: 150px; */
  height: 100%;
}
.image-edicao img {
  /* height: 100%; */
  width: 100%;
  min-width: 200px;
  max-width: 400px;
}
.text-edicao{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text-edicao p{
  text-align: justify;
  text-indent: 35px;
}
.text-edicao strong{
  margin-right: 5px;
}
.link-edicao a{
  color: blue;
}
.link-edicao a:hover{
  text-decoration: underline;
}
