@charset "UTF-8";

.container-producoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 85vh; */
  border-radius: 16px;
  background-color: var(--cor02);
  max-width: 900px;
}
.artigo-producoes {
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-bottom: 300px; */
  width: 100%;
  align-items: center;
}
