@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root{
    --fonte_titulo: 'Poppins', sans-serif;
    --fonte_ttitulos: 'Great Vibes', cursive;

    --cor01: white;
    --cor02: white;
    --cor03: #add8e6;
}
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--fonte_titulo);
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    background-color: var(--cor01)
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 85vh;

    margin-top: 80px;
    border-radius: 16px;
    background-color: white;
}
.menu{
    width: 100%;
    background-color: var(--cor03);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    position: fixed;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
.menu > div > a{
    margin-right: 40px;
}
.menu_items a:hover, .input_pesquisar a:hover{
    color: white;
    transition-duration: .3s;
}
.items{
    margin-right: 10px;
    font-weight: 500;
}

.logo{
    font-size: 25px;
    font-weight: 600;
}
.input_pesquisar{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}
.input_pesquisar input{
    display: none;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 8px;
}
.input_pesquisar input:focus{
    box-shadow: 0px 0px 10px #f5f5f5;
}
.icon{
    margin-right: 3px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article{
    height: 90%;
    background-color: var(--cor02);
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    color: black;
    text-align: center;
}
.text{
    padding: 50px;
}
.text h2, p{
    font-family: 'Times New Roman', Times, serif;
}
.text h2{
    font-size: 2em;
    padding: 15px;
    text-align: left;
}
.text p{
    font-size: 1.2em;
    text-align: justify;
    text-indent: 2em;
    margin-top: 5px;
    line-height: 30px;
}