@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --fonte_titulo: "Poppins", sans-serif;
  --fonte_2: "Fondamento", "cursive";
  --fonte02: "Lavishly Yours", cursive;
  --fonte02: 'Cormorant Garamond', serif;
  --fonte03: 'Cinzel', serif;
  --cor01: #000000;
  --cor02: white;
  --cor03: #add8e6;
  --azul01: #D6E0EB;
  --azul02: #A4BAD1;
  --azul03: #43627F;
  --azul04: #0D2A4A;
  --azul05: #55a3e7;
}

.dark {
  --cor01: whitesmoke;
  --cor02: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--cor02);
}

.menu-fixed {
  width: 100%;
  display: block;
  top: 0;
  height: 50px;
}

.hed {
  width: 100vw;
  background-color: #55a3e7;
  top: 0;
  display: flex;
  height: 50px;
  align-items: center;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 2;
  /* padding: 0% 5%; */
  justify-content: space-evenly;
  position: fixed;

}

.menu {
  width: 100%;
  top: 0;
  display: flex;
  height: 50px;
  position: fixed;
  align-items: center;
  z-index: 2;
  /* padding: 0% 5%; */
  justify-content: space-evenly;

}

.logo {
  font-family: var(--fonte02);
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  text-transform: uppercase;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 40px;

}

.menu_items {
  display: flex;
  font-family: var(--fonte_titulo);
  gap: 75px;
  font-size: 1em;
  z-index: 2;
  font-weight: bolder;
  /* text-transform: uppercase; */
}

.dnav {
  width: 100%;
}

.menu_items a:hover,
.pesquisar a:hover {
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
  border-radius: 5px;
}

.items {
  font-weight: 500;
  color: white;
}

.pesquisar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 10vw; */
}

.icon-lupa a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-pesquisar {
  position: relative;
  margin-left: 5px;
}

.input-pesquisar input {
  padding: 8px;
  border-radius: 20px;
  border: none;
  width: 200px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.6);
}

.hide {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  padding: 50px 0 0 0;
  /* margin-top: 100px; */

  font-family: 'Inter', sans-serif;
}

.container-principal,
.quem-somos-nos {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  background-color: var(--cor02);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-principal {
  padding-bottom: 80px;
  position: relative;
}

.artigo-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  height: 80vh;
  /* min-height: 300px; */
  max-width: 1300px;
  border-radius: 16px;
  padding: 0 30px;
  gap: 50px;
}

.artigo-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text,
.imagem {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
}

.imagem img {
  width: 100%;
  background-size: cover;
}

.artigo-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

.text {
  color: var(--cor01);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.text-titulo h1,
.text-titulo h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

.text-titulo h2 {
  font-size: 3em;
  font-family: var(--fonte02);
  font-weight: 500;
}

.text-titulo h1 {
  font-family: var(--fonte02);
  font-weight: 500;
  font-size: 10em;
}

.text-mensage {
  font-size: 17px;
  text-align: center;
  width: 100%;
  height: 100px;
}

.contato-principal {
  position: absolute;
  bottom: 20px;
  right: 70px;
  background-color: var(--azul05);
  padding: 6px 25px;
  border-radius: 20px;
  color: whitesmoke;
}


.quem-somos-nos {
  background-color: #ebebeb;
  padding: 10% 0;
  min-height: 600px;
}

.btn-mobile {
  display: none;
  padding: 5px;
  position: absolute;
}

.btn-dark {
  position: absolute;
  top: 60px;
  right: 15px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 20px;
  width: 40px;
  transform: scale(1.5);
}

.bola {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform .2s linear;
}

.checkbox:checked+.label .bola {
  transform: translateX(20px);
}

.fa-lua {
  color: #f1c40f;
  width: 14px;
  height: 14px;
}

.fa-sol {
  color: #f39c12;
  width: 14px;
  height: 14px;
}

.footer {
  font-family: 'Poppins', sans-serif;

}


.footer h2 {
  font-family: 'Poppins', sans-serif;
}

.footer {
  width: 100%;
  min-height: 300px;
  background-color: #27242c;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.text_footer {
  text-align: center;
}

.text_footer h2 {
  font-weight: 400;
  font-size: 16px;
}

.text_footer h1 {
  font-size: 40px;
  font-weight: 700;
}

.content_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181719;
  height: 50px;
}

.content_top {
  display: flex;
  align-items: flex-start;
  /* flex-direction: column; */

  justify-content: space-around;
  width: 60%;
  height: 70%;
}

.logos_footer {
  margin-top: 10px;
}

.logos_footer img {
  width: 50px;
  height: 50px;
}

.left_footer {
  text-align: center;
}

.quem-somos-nos#paralax {
  background-image: url(../img/background-estanteDeLivros.jfif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10vw;
}

.note-block {
  padding: 50px;
  min-height: 100%;
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
}

.note-h1 {
  margin: 8px;
  font-size: 2.5em;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: var(--fonte_titulo);
}

.note {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-align: justify;
  margin-bottom: 8px;
  text-indent: 35px;
}

@media (max-width: 1100px) {
  .text-titulo h1 {
    font-size: 8em;
  }
}

@media (max-width: 900px) {
  .artigo-principal {
    flex-direction: column;
    min-height: 600px;
    gap: 0;
  }

  .imagem {
    max-width: 400px;
  }

  .text {
    align-items: center;
  }
}

@media (max-width: 600px) {
  .quem-somos-nos#paralax {
    padding: 5vw;
  }
}

@media (max-width: 500px) {
  .text-titulo h1 {
    font-size: 6em;
  }

  .text-mensage p {
    font-size: 14px;
  }

  .artigo-principal {
    min-height: 400px;
  }

  .note-h1 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 2em;
  }

  .note-block {
    padding: 30px;
  }
  .note{
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  .text-titulo h1 {
    font-size: 4.7em;
  }

  .text-mensage p {
    font-size: 14px;
  }

  .text,
  .imagem {
    min-width: 250px;
  }
  .note-h1 {
    margin-bottom: 8px;
    font-size: 1.59em;
    margin: 0;
    margin-bottom: 8px;
  }
}